body{
    background-image: url(./dd.jpg);
    background-position: center;
}

.hello{
    color: rgb(60, 147, 222);
}
a{
    text-decoration: none;
    color: white;
}
h1{
    color: rgb(91, 164, 228);
}
.container{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
.b{
    text-decoration: none;
    color: azure;
    font-size: 16px;
    background-color: #3d7ec7;
    padding: 10px;
    border: none;
    border-radius: 5px;
}
.b:hover{
    background-color: #6890bd;
}